<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<style>
    .text2cols {
        white-space: nowrap;
    }
    .text2cols-item {
        white-space: normal;
        display: inline-block;
        vertical-align: top;
    }
    .text2cols .text2cols-item:first-child {
        margin-right: 4%;
    }
</style>
<br>
<h1 style="text-align: center">Привет! Это этот сайт поможет тебе перевести запрос с одного диалекта на другой!</h1>

<div class="text2cols">
    <div class="text2cols-item">
    <img src="https://i.ibb.co/f2RpVxj/laa2st.png" alt="logo" border="0"></a>
    </div>
    <div class="text2cols-item">
    <br><br><br>
    <form action="" method="post">
        {{ form.csrf_token() }}
        {% for field in form if field.name != 'csrf_token' %}
            {% if field.name != 'submit' %}
                <h4>{{ field.label }}</h4>
                <p>
                    {{ field }}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}
    </form>
    {% if text %}
        <br>
        <h4><label for="text">Ответ</label></h4>
{#        {{ text }}#}
        {% for line in text %}
            {% for word in line %}
                {% if word == '' %}
                    &nbsp;
                {% endif %}
                {{ word }}
            {% endfor %}
            <br>
        {% endfor %}
    {% else %}
        <p></p>
    {% endif %}
    </div>
</div>
</body>
</html>